**/data
benchmarking/*/data
benchmarking/Baxter
benchmarking/CellTrackerGNN/cell-tracker-gnn
benchmarking/CellTrackerGNN/software
benchmarking/CTC_Evaluation_Software
benchmarking/EmbedTrack/EmbedTrack
benchmarking/EmbedTrack/KIT-Loe-GE

**/sandbox

*.zip
*.csv
**/.ipynb_checkpoints
*.ipynb
**/__pycache